body
{
}

.Requisitos
{
	background-color:#093565;
	/*background-color:#5882FA;\9/* IE 8 and below */
	/**background-color:#FF00FF;/* IE 7 and below */
	/*_background-color:Red;/* IE 6 */
	color:White;	
	font-family:Arial Black;
	font-size:12px;	
}

#divRequisitos
{	
	width:300px;
	padding-right: 20px;
	border:5px solid;
	border-color:#093565;	
	border-radius: 25px;
	box-shadow:10px 10px 5px #888888;
}

.CblStyle
{
	color:Black;
	font-family:Arial;
	font-size:10pt;
	font-weight:bold
}