﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Solicitudes.master.vb" Inherits="Daimler_Solicitudes.Solicitudes" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <table width="100%">
                <tr height="auto">
                    <td>
                        <%--<asp:panel style="Z-INDEX: 101; LEFT: 0px; POSITION: absolute; TOP: 0px" id="pnlGeneral" runat="server" Width="100%" Height="496px">
                                <asp:panel id="pnlPanel" runat="server" Width="100%">--%>
                                    <table id="tblHeader" cellSpacing="1" cellPadding="1" Width="100%" border="0">
                                        <tr>
                                            <td width="20%">
                                                <asp:image id="Aon" runat="server" CssClass="aon-logo" ImageUrl="../Imagenes/aon-logo.png" AlternateText="Aons" BorderWidth="0" />
                                            </td>
                                            <td Width="2%" />
                                            <td align="center" width="50%" />
                                            <td align="right" width="20%" colSpan="2">
                                                &nbsp;</td>
                                        </tr>  
                                        <tr>
                                            <td width="20%" class="style19" />
                                            <td width="2%" class="style19" />
                                            <td align="center" width="50%" class="style19">
                                                <asp:Label id="lblTitulo" runat="server"/>
                                            </td>
                                            <td width="20%" class="style19" />
                                            <td width="10%" class="style19" />
                                        </tr>
                                        <tr>
                                            <td width="20%"></td>
                                            <td width="2%"></td>
                                            <td align="right" width="50%" colSpan="3">
                                                <asp:Label id="lblUsuarioI" runat="server" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%" />
                                            <td width="2%" />
                                            <td align="right" width="50%" colSpan="3">
                                                <asp:Label id=lblNivel runat="server" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%" />
                                            <td width="2%" />
                                            <td align="right" width="50%" colSpan="3">
                                                <asp:Table id="tblTitulo" runat="server"></asp:Table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%" height="40" />
                                            <td width="2%" height="40" />
                                            <td style="HEIGHT: 35px" vAlign="top" align="center" width="50%">
                                                <asp:Label id="lblSubtitulo" runat="server" />
                                            </td>
                                            <td width="20%" height=40 />
                                            <td width="10%" height="40" />
                                        </tr>
                                    </table>
                        <%--    </asp:panel>
                        </asp:panel>--%>
                    </td>
                </tr>
                <tr>
                    <td />
                </tr>
                <tr>
                    <td>                    
                        <asp:ContentPlaceHolder ID="contBody" runat="server" >

                        </asp:ContentPlaceHolder>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
