<%@ Page Language="vb" AutoEventWireup="false" Codebehind="WfrmReporte.aspx.vb" Inherits="Daimler_Solicitudes.WfrmReporte" %>
<%@ Register TagPrefix="cc1" Namespace="MsgBox" Assembly="MsgBox" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>WfrmReporte</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">			
        <cc1:msgbox id="MsgBox" style="POSITION: absolute; LEFT: 16px; Z-INDEX: 102; TOP: 2064px" runat="server"></cc1:msgbox>
		</form>
	</body>
</HTML>
