/* CSS Document */

.LetraChica 
{ 
	font-family:Arial, sans-serif; 
	font-size: 7pt; 
	color: black; 
}

.LetraNormal 
{ 
	font-family:Arial, sans-serif; 
	font-size: 8pt; 
	color: black; 
}

.LetraEncabezado
{ 
	font-family:Arial, sans-serif; 
	font-size: 7pt;
	/*font-size: 8pt;*/
	color: black; 
}

.LetraEncabezadoNegra
{ 
	font-family:Arial, sans-serif; 
	font-size: 8pt; 
	color: black; 
	font-weight:bold;
}

.LetraGrande 
{ 
	font-family:Arial, sans-serif; 
	font-size: 9pt; 
	color: black;
}

.LetraGrandeBordeArriba 
{ 
	border-top: 1px solid #000000;
	font-family:Arial, sans-serif; 
	font-size: 10pt; 
	color: black;
}
.LetraGrandeBordeAbajo 
{ 
	border-bottom: 1px solid #000000;
	font-family:Arial, sans-serif; 
	font-size: 10pt; 
	color: black;
}

.LetraGrande2 
{ 
	font-family:Arial, sans-serif; 
	font-size: 10pt; 
	color: black;
}

.LetraTitulo 
{ 
	font-family:Arial, sans-serif; 
	font-size: 11pt; 
	color: black;
	font-weight:bold;
}

.ConBordesNegrita
{
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	font-family:Arial, sans-serif; 
	font-size: 9pt; 
	color: black;
	font-weight:bold;
}

.ConBordes1
{
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	font-family:Arial, sans-serif; 
	font-size: 6pt; 
	color: black;	
}

.ConBordes2
{
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	font-family:Arial, sans-serif; 
	font-size: 6pt; 
	color: black;	
}

.ConBordes3
{
	border-bottom: 1px solid #000000;
}

.Interior_tabla_centro_inicio
{
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight:bold;
	background-color:#DDDDDD;
	/*font-size:12px;*/
	font-size:10px;
	text-align:center;
	border-top:#000000 1px solid;
	border-bottom:#000000 1px solid;
	border-right:#000000 1px solid;
	border-left:#000000 1px solid;
}	

.Interior_tabla_centro
{
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight:bold;
	background-color:#DDDDDD;
	font-size:12px;
	text-align:center;
	border-bottom:#000000 1px solid;
	border-left:#000000 1px solid;
}

.Interior_tabla_centro2
{
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight:bold;
	background-color:#DDDDDD;
	font-size:12px;
	text-align:center;
	border-bottom:#000000 1px solid;
	border-left:#000000 1px solid;
	border-right:#000000 1px solid;
}


.SinBordes
{
	font-family:Arial, sans-serif; 
	font-size: 7pt; 
	color: black; 
	border-top: 0;
	border-left: 0;
	border-bottom: 0;
	border-right: 0;
}

.BordeDerecho 
{ 
	font-family:Arial, sans-serif; 
	font-size: 7pt; 
	color: black; 
	border-top: 0;
	border-left: 0;
	border-bottom: 0;
	border-right: 1px solid #000000;
}

.BordeIzquierdo 
{ 
	font-family:Arial, sans-serif; 
	font-size: 7pt; 
	color: black; 
	border-top: 0;
	border-left: 1px solid #000000;
	border-bottom: 0;
	border-right: 0;
}

.BordeIzquierdoAbajo
{ 
	font-family:Arial, sans-serif; 
	font-size: 7pt; 
	color: black; 
	border-top: 0;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right: 0;
}

.BordeIzquierdoArriba
{ 
	font-family:Arial, sans-serif; 
	font-size: 7pt; 
	color: black; 
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 0;
	border-right: 0;
}


.BordeIzquierdoDerechoAbajo 
{ 
	font-family:Arial, sans-serif; 
	font-size: 7pt; 
	color: black; 
	border-top: 0;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
}

.BordeIzquierdoDerechoArriba
{ 
	font-family:Arial, sans-serif; 
	font-size: 7pt; 
	color: black; 
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 0;
	border-right: 1px solid #000000;
}

.BordeIzquierdoDerecho
{ 
	font-family:Arial, sans-serif; 
	font-size: 7pt; 
	color: black; 
	border-top: 0;
	border-left: 1px solid #000000;
	border-bottom: 0;
	border-right: 1px solid #000000;
}

.BordeDerechoAbajo
{ 
	font-family:Arial, sans-serif; 
	font-size: 7pt; 
	color: black; 
	border-top: 0;
	border-left: 0;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
}

.BordeDerechoArriba
{ 
	font-family:Arial, sans-serif; 
	font-size: 7pt; 
	color: black; 
	border-top: 1px solid #000000;
	border-left: 0;
	border-bottom: 0;
	border-right: 1px solid #000000;
}

.BordeArriba
{ 
	font-family:Arial, sans-serif; 
	font-size: 7pt; 
	color: black;
	border-top: 1px solid #000000;
	border-left: 0;
	border-bottom: 0;
	border-right: 0;
}

.BordeAbajo
{ 
	font-family:Arial, sans-serif; 
	font-size: 7pt; 
	color: black;
	border-top: 0;
	border-left: 0;
	border-bottom: 1px solid #000000;
	border-right: 0;
}

.BordeDerechoAbajoArriba
{ 
	font-family:Arial, sans-serif; 
	font-size: 7pt; 
	color: black; 
	border-top: 1px solid #000000;
	border-left: 0;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
}

.BordeIzquierdoAbajoArriba
{ 
	font-family:Arial, sans-serif; 
	font-size: 7pt; 
	color: black; 
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right: 0;
}

.BordeAbajoArriba
{ 
	font-family:Arial, sans-serif; 
	font-size: 7pt; 
	color: black; 
	border-top: 1px solid #000000;
	border-left: 0;
	border-bottom: 1px solid #000000;
	border-right: 0;
}


.TextoVertical
{
	font-size:6.0pt;
	font-family:"Arial"; 
	text-align:center; 
	vertical-align:middle; 
	writing-mode:tb-rl; 
	/*filter:fliph flipv;*/
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
}

.TextoVertical1
{
	font-size:6.0pt;
	font-family:"Arial"; 
	text-align:center; 
	vertical-align:middle; 
	writing-mode:tb-rl; 
	/*filter:fliph flipv;*/
	border-top: 0;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
}

.TextoVertical2
{
	font-size:6.0pt;
	font-family:"Arial"; 
	text-align:center; 
	vertical-align:middle; 
	writing-mode:bt-rl; 
	/*filter:fliph flipv;*/
	border-top: 0;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
}

.BordesError
{
	border-top: 1px solid #EE0000;
	border-left: 1px solid #EE0000;
	border-bottom: 1px solid #EE0000;
	border-right: 1px solid #EE0000;
	font-family:Arial, sans-serif; 
	font-size: 8pt; 
	color: #FFFFFF;
	/*font-weight:bold;*/
}

.BordesAdvertencia
{
	border-top: 1px solid #CD5C12;
	border-left: 1px solid #CD5C12;
	border-bottom: 1px solid #CD5C12;
	border-right: 1px solid #CD5C12;
	font-family:Arial, sans-serif; 
	font-size: 8pt; 
	color: #FFFFFF;
}


.LetraTituloResumen
{ 	
	font-family:Arial, sans-serif; 
	font-size: 20pt; 
	color: black;
	font-weight:bold;
}

.LetraSubTituloResumen
{ 
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	font-family:Arial, sans-serif; 
	font-size: 12pt; 
	color: black;
	font-weight:bold;
}

.LetraGrandeResumen
{ 
	font-family:Arial, sans-serif; 
	font-size: 12pt; 
	color: black;
	font-weight:bold;
}

.LetraNormalResumen
{ 
	font-family:Arial, sans-serif; 
	font-size: 9pt; 
	color: black; 
}

.LetraNormalResumenBordeAbajo
{ 
	border-bottom: 1px solid #000000;
	font-family:Arial, sans-serif; 
	font-size: 9pt; 
	color: black; 
}

.Header_Gris
{
	font-family:Arial, Helvetica, sans-serif;
	color:Black;
	font-weight:bold;
	text-align:center;
	background-color:#DDDDDD;
	font-size:12px;
}


.myBox {
    /*margin: 0.5in auto;*/
    /*color: #000000;*/
    width: 100%;
    padding: 5px;
    /*text-align: left;*/
    background-color: #fff;
    border: 1px solid #000000;

    /* Do rounding (native in Firefox and Safari) */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}


.LetraBorde
{ 
	font-family:Arial, sans-serif; 
	font-size: 8pt; 
	color:#000000;
	background-color:#DBE5F1;
	border-top:#000000 1px solid;
	border-bottom:#000000 1px solid;
	border-right:#000000 1px solid;
	border-left:#000000 1px solid;
}

.Interior_tabla_Izquierda
{
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-weight:bold;
	background-color:#DDDDDD;
	font-size:10px;
	/*font-size:12px;*/
	text-align:left;
	border-top:#000000 1px solid;
	border-bottom:#000000 1px solid;
	border-right:#000000 1px solid;
	border-left:#000000 1px solid;
}	

.Interior_tabla_Aseguradora
{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-weight:bold;
	background-color:#376091;
	font-size:12px;
	text-align:center;
	border-top:#000000 1px solid;
	border-bottom:#000000 1px solid;
	border-right:#000000 1px solid;
	border-left:#000000 1px solid;
}	

.LetraEncabezadoNegraMarco
{ 
	font-family:Arial, sans-serif; 
	font-size: 8pt; 
	color: black; 
	font-weight:bold;
	border-top:#000000 1px solid;
	border-bottom:#000000 1px solid;
	border-right:#000000 1px solid;
	border-left:#000000 1px solid;
}

.TablaMarco
{
	color: black;
	border-top:#000000 1px solid;
	border-bottom:#000000 1px solid;
	border-right:#000000 1px solid;
	border-left:#000000 1px solid;
}
.TablaMarcoObservaciones
{
	color: black;
	border-top:#000000 1px solid;
	border-bottom:#000000 1px solid;
	border-right:#000000 1px solid;
	border-left:#000000 1px solid;
	font-family:Arial, sans-serif;
	font-size: 8pt;
}