<%@ Page Language="vb" AutoEventWireup="false" Codebehind="Wfrmframetop.aspx.vb" Inherits="Cotizador_Mazda_Retail.Wfrmframetop" %>
<%@ Register TagPrefix="cc1" Namespace="MsgBox" Assembly="MsgBox" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<LINK href="..\Css\Styles.css" type="text/css" rel="stylesheet">
		<style type="text/css">P { BORDER-BOTTOM: #cacaca thin solid }
		</style>
	</HEAD>
	<BODY bgColor="white" leftMargin="0" topMargin="0" rightMargin="0" marginheight="0" marginwidth="0"
		MS_POSITIONING="GridLayout">
		<form id="top" method="post" runat="server">
			<cc1:msgbox id="MsgBox" style="Z-INDEX: 101; POSITION: absolute; TOP: 152px; LEFT: 240px" runat="server"></cc1:msgbox>
			<TABLE id="Table1" cellSpacing="0" cellPadding="0" width="100%" border="0" rightMargin="0"
				topMargin="0" leftMargin="0" style="Z-INDEX: 102; POSITION: absolute; TOP: -10px; LEFT: 8px">
				<TR>
					<TD vAlign="middle" align="left" width="15%"><!--<asp:image id="Image1" runat="server" ImageUrl="Imagenes\Logo_catweb copia.gif"></asp:image>-->
						<IMG title="MAZDA RETAIL" border=0 alt="" src="..\Imagenes\logos\logo_mazda_CF.png" >
					</TD>
					<TD vAlign="middle" width="5%"></TD>
					<TD vAlign="middle" width="25%">
						<asp:label id="lblTitulo" runat="server" Width="100%" BorderColor="Transparent" CssClass="Nombredepto"></asp:label></TD>
					<TD vAlign="middle" align="center" width="18%">
						<asp:label id="Label1" runat="server" CssClass="Nombredepto" BorderColor="Transparent" Width="100%"></asp:label></TD>
					<TD width="5%"></TD>
					<TD vAlign="middle" align="left" width="22%">
						<P>
							<asp:label id="lbl_nombre" runat="server" Width="100%" BorderColor="Transparent" CssClass="NombrePrincipal"></asp:label>
							<asp:label id="lbl_cargo" runat="server" Width="100%" BorderColor="Transparent" CssClass="NombrePrincipal"></asp:label>        
                            <asp:Label runat="server" Width="100%" BorderColor="Transparent" CssClass="NombrePrincipal"><a href="Wfrmlogooff.aspx" target=_parent>Salir</a>&nbsp;|&nbsp;<a href="wfrmmenu.aspx" target=_parent>Programas</a></asp:Label>
						</P>
					</TD>
                    <TD vAlign="middle" align="left" width="20%">
                        <asp:label runat="server" CssClass="NombrePrincipal">ID Empleado: <asp:label id="lbl_empleado" runat="server" BorderColor="Transparent" CssClass="NombrePrincipal"></asp:label></asp:label>
                    </TD>
					<TD vAlign="middle" align="center" width="15%">
						<asp:image id="Logo_Aon" runat="server" ImageUrl="..\Imagenes\logos\logo.jpg"></asp:image></TD>
				</TR>
			</TABLE>
		</form>
	</BODY>
</HTML>
