<%@ Page Language="vb" AutoEventWireup="false" Codebehind="WfrmBlanco1.aspx.vb" Inherits="Cotizador_Mazda_Retail.WfrmBlanco1" %>
<%@ Register TagPrefix="cc1" Namespace="MsgBox" Assembly="MsgBox" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<LINK href="..\Css\Styles.css" type="text/css" rel="stylesheet">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<cc1:msgbox id="MsgBox" style="Z-INDEX: 101; LEFT: 352px; POSITION: absolute; TOP: 448px" runat="server"></cc1:msgbox><asp:panel id="pnl_Principal" style="Z-INDEX: 102; LEFT: 8px; POSITION: absolute; TOP: 8px"
				runat="server" Height="20.11%" Width="100%">
				<TABLE id="Table1" style="HEIGHT: 40%" cellSpacing="1" cellPadding="1" width="100%" border="0">
					<TR>
						<TD style="HEIGHT: 36px" vAlign="top" width="10%" height="36"></TD>
						<TD style="HEIGHT: 36px" vAlign="top" width="60%" height="36"></TD>
						<TD style="HEIGHT: 36px" vAlign="top" align="right" width="10%" height="36"></TD>
						<TD style="HEIGHT: 36px" vAlign="top" align="right" width="20%" height="36"></TD>
					</TR>
					<TR>
						<TD vAlign="top" height="100%" rowSpan="3"></TD>
						<TD style="HEIGHT: 130px" vAlign="top" height="130">
							<P>
								<asp:Label id="lbl_Titulo" runat="server" Width="100%" CssClass="TituloPrincipal"></asp:Label></P>
							<P>
								<asp:Label id="lbl_Subtitulo1" runat="server" Width="100%" CssClass="SubTituloPrincipal1"></asp:Label></P>
						</TD>
						<TD vAlign="top" align="right" height="100%" rowSpan="3"></TD>
						<TD vAlign="top" align="right" colSpan="1" height="100%" rowSpan="3"></TD>
					</TR>
					<TR>
						<TD style="HEIGHT: 57px" vAlign="top" align="right" height="57">
							<P>
								<asp:Label id="lbl_Subtitulo2" runat="server" Width="80%" CssClass="SubTituloPrincipal2"></asp:Label></P>
							<P>
								<asp:HyperLink id="hp_click1" runat="server"></asp:HyperLink></P>
						</TD>
					</TR>
					<TR>
						<TD vAlign="top" align="right" height="100%">
							<P>&nbsp;</P>
						</TD>
					</TR>
				</TABLE>
			</asp:panel></form>
	</body>
</HTML>
