<%@ Page Language="vb" AutoEventWireup="false" Codebehind="WfrmTopUsuario_Portada.aspx.vb" Inherits="Cotizador_Mazda_Retail.WfrmTopUsuario_Portada" %>
<%@ Register TagPrefix="cc1" Namespace="MsgBox" Assembly="MsgBox" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK href="..\Css\Styles.css" type="text/css" rel="stylesheet">
		<script language="javascript" src="..\Javascript\Jscripts.js"></script>
	</HEAD>
	<body MS_POSITIONING="GridLayout" background="..\Imagenes\Nuevo\img_fondomenu.gif">
		<form id="Form1" method="post" runat="server">
		</form>
	</body>
</HTML>
