<%@ Register TagPrefix="cc1" Namespace="MsgBox" Assembly="MsgBox" %>
<%@ Page Language="vb" AutoEventWireup="false" Codebehind="WfrmMenuPortada.aspx.vb" Inherits="Cotizador_Mazda_Retail.WfrmMenuPortada" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<LINK href="..\Css\Styles.css" type="text/css" rel="stylesheet">
		<script language="javascript" src="..\JavaScript\JScripts.js"></script>
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:panel id="pnl_portada" style="Z-INDEX: 100; LEFT: 8px; POSITION: absolute; TOP: 0px" runat="server"
				Font-Size="1pt" Width="100%" Height="8px">
				<TABLE id="Table1" cellSpacing="0" cellPadding="0" width="100%" border="0">
					<TR>
						<TD>
							<asp:table id="tbl_listado" runat="server" Height="8px" Width="100%" CellPadding="0" CellSpacing="0"></asp:table></TD>
					</TR>
					<TR>
						<TD height="20"></TD>
					</TR>
					<TR>
						<TD></TD>
					</TR>
				</TABLE>
			</asp:panel><cc1:msgbox id="MsgBox" style="Z-INDEX: 101; LEFT: 656px; POSITION: absolute; TOP: 272px" runat="server"></cc1:msgbox></form>
	</body>
</HTML>
