<%@ Register TagPrefix="cc2" Namespace="MsgBox" Assembly="MsgBox" %>
<%@ Page Language="vb" AutoEventWireup="false" Codebehind="WfrmTopCorporativo.aspx.vb" Inherits="Cotizador_Mazda_Retail.WfrmTopCorporativo" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
	    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<script language="javascript" src="..\JavaScript\Jscripts.js"></script>
		<LINK href="..\Css\Styles.css" type="text/css" rel="stylesheet">
	</HEAD>
	<body leftMargin="0" background="..\Imagenes\logos\img_fondomenu.gif" topMargin="0" rightMargin="0"
		MS_POSITIONING="GridLayout" marginheight="0" marginwidth="0">
		<form id="Form1" method="post" runat="server">
			<cc2:msgbox id="MsgBox" style="Z-INDEX: 101; LEFT: 328px; POSITION: absolute; TOP: 392px" runat="server"></cc2:msgbox>
			<asp:Table id="tb_region" runat="server" style="Z-INDEX: 102; LEFT: 0px; POSITION: absolute; TOP: 0px"
				Width="100%" BackImageUrl="..\Imagenes\logos\img_fondomenu.gif"></asp:Table></form>
	</body>
</HTML>
