<%@ Page Language="vb" AutoEventWireup="false" Codebehind="wfrmEspera.aspx.vb" Inherits="Cotizador_Mazda_Retail.wfrmEspera" %>
<%@ Register TagPrefix="cc1" Namespace="MsgBox" Assembly="MsgBox" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<script language="JScript">
			function cerrar() 
			{
			var ventana = window.self;
			ventana.opener =window.self;
			parent.close();
			}
		</script>
	</HEAD>
	<BODY bgColor="#ffffff" onload='setTimeout("cerrar();",8000)'>
		<TABLE id="Table1" cellSpacing="0" cellPadding="0" width="298" border="0">
			<TR>
				<TD><IMG height="5" alt="" src="..\Imagenes\imagen_espera\curvaI.png"></TD>
				<TD vAlign="top" colSpan="3"><IMG height="1" alt="" src="..\Imagenes\imagen_espera\acostado.gif" width="315"></TD>
				<TD><IMG height="5" alt="" src="..\Imagenes\imagen_espera\curvaD.png"></TD>
			</TR>
			<TR>
				<TD rowSpan="2"><IMG height="230" alt="" src="..\Imagenes\imagen_espera\barra.gif" width="1"></TD>
				<TD rowSpan="2"></TD>
				<TD width="280" height="144">
					<div align="center">
						<p><br>
							<IMG src="..\Imagenes\imagen_espera\header_banco.png"><br>
							<br>
							<br>
							<IMG height="23" src="..\Imagenes\imagen_espera\usuario.png" width="247"><br>
							<br>
							<IMG height="50" src="..\Imagenes\imagen_espera\spinner.gif" width="50"><br>
							<br>
						</p>
					</div>
				</TD>
				<TD rowSpan="2"></TD>
				<TD align="right" rowSpan="2"><IMG height="230" alt="" src="..\Imagenes\imagen_espera\barra.gif" width="1"></TD>
			</TR>
			<TR>
				<TD></TD>
			</TR>
			<TR>
				<TD><IMG height="5" alt="" src="..\Imagenes\imagen_espera\curvaIi.png"></TD>
				<TD vAlign="bottom" colSpan="3"><IMG height="1" alt="" src="..\Imagenes\imagen_espera\acostado.gif" width="315"></TD>
				<TD><IMG height="5" alt="" src="..\Imagenes\imagen_espera\curvaDd.png"></TD>
			</TR>
		</TABLE>
	</BODY>
</HTML>
