<%@ Control Language="vb" AutoEventWireup="false" Codebehind="WfrmUCobertura.ascx.vb" Inherits="Cotizador_Mazda_Retail.WfrmUCobertura" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<%@ Register TagPrefix="cc1" Namespace="MsgBox" Assembly="MsgBox" %>
<script language="javascript" src="..\JavaScript\Jscripts.js"></script>
<LINK href="..\Css\Styles.css" type="text/css" rel="stylesheet">
<asp:table id="tb" HorizontalAlign="Right" Width="100%" runat="server"></asp:table>
<P>
	<asp:textbox id="txt_idpaquete" Width="16px" runat="server" Height="16px" Visible="False"></asp:textbox>
	<cc1:MsgBox id="MsgBox" runat="server"></cc1:MsgBox></P>
<P>&nbsp;</P>
