<%@ Register TagPrefix="cc1" Namespace="MsgBox" Assembly="MsgBox" %>
<%@ Register TagPrefix="ontranet" Namespace="Ontranet.WebControls" Assembly="Ontranet.WebControls.SaveDialog" %>
<%@ Control Language="vb" AutoEventWireup="false" Codebehind="WfrmUImprime.ascx.vb" Inherits="CotizadorContado_QA.WfrmUImprime" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<HTML>
	<HEAD>
	</HEAD>
	<LINK href="../Styles.css" type="text/css" rel="stylesheet">
	<LINK href="../Styles_aon.css" type="text/css" rel="stylesheet">
	<%If session("bancss")=0 then%>
	<%else%>
	<%end if%>
	<TABLE id="Table1" cellSpacing="1" cellPadding="1" width="100%" border="0">
		<TR>
			<TD width="100%" colSpan="3">
				<asp:HyperLink id="Lnk_imprime" runat="server" CssClass="negrita" Width="100%"></asp:HyperLink></TD>
		</TR>
		<TR>
			<TD colSpan="3"></TD>
		</TR>
	</TABLE>
	<Ontranet:SaveDialog id="sd" runat="server"></Ontranet:SaveDialog>
	<cc1:MsgBox id="MsgBox" runat="server"></cc1:MsgBox>
</HTML>
