<%@ Register TagPrefix="ontranet" Namespace="Ontranet.WebControls" Assembly="Ontranet.WebControls.SaveDialog" %>
<%@ Page Language="vb" AutoEventWireup="false" Codebehind="WfrmSimp.aspx.vb" Inherits="Cotizador_Mazda_Retail.WfrmSimp" %>
<%@ Register TagPrefix="cc1" Namespace="MsgBox" Assembly="MsgBox" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
			<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<LINK href="..\Css\Styles.css" type="text/css" rel="stylesheet">
		<script language="javascript" src="..\JavaScript\Jscripts.js"></script>
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<cc1:msgbox id="MsgBox" style="Z-INDEX: 101; LEFT: 400px; POSITION: absolute; TOP: 416px" runat="server"></cc1:msgbox>
			<TABLE id="Table4" style="Z-INDEX: 110; LEFT: 8px; POSITION: absolute; TOP: 8px; HEIGHT: 24px"
				cellSpacing="0" cellPadding="0" width="100%" border="0">
				<TR>
					<TD class="negrita_marco_color" vAlign="middle" align="center" width="2%" height="20">
						<asp:image id="Image1" runat="server" ImageUrl="..\Imagenes\cob.gif"></asp:image></TD>
					<TD class="Interiro_tabla" width="98%" colSpan="3"><FONT size="+0">&nbsp;Imprime 
							Reportes</FONT></TD>
				</TR>
			</TABLE>
			<HR class="lineas" style="Z-INDEX: 102; LEFT: 8px; POSITION: absolute; TOP: 40px" width="100%">
			<asp:hyperlink id="Lnk_imprime" style="Z-INDEX: 103; LEFT: 8px; POSITION: absolute; TOP: 56px"
				runat="server" Width="100%" CssClass="negrita"></asp:hyperlink><ontranet:savedialog id="sd" runat="server"></ontranet:savedialog></form>
	</body>
</HTML>
