<%@ Register TagPrefix="cc1" Namespace="MsgBox" Assembly="MsgBox" %>
<%@ Page Language="vb" AutoEventWireup="false" Codebehind="WfrmRegeneraPassword.aspx.vb" Inherits="Cotizador_Mazda_Retail.WfrmRegeneraPassword" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>WfrmCambiaPassword</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:Button id="Button1" style="Z-INDEX: 101; LEFT: 235px; POSITION: absolute; TOP: 19px" runat="server"
				Text="Button" Width="123px" Height="25px"></asp:Button>
			<cc1:MsgBox id="MsgBox" style="Z-INDEX: 102; LEFT: 392px; POSITION: absolute; TOP: 328px" runat="server"></cc1:MsgBox>
		</form>
	</body>
</HTML>
