<%@ Register TagPrefix="cc2" Namespace="skmMenu" Assembly="skmMenu" %>
<%@ Register TagPrefix="cc1" Namespace="MsgBox" Assembly="MsgBox" %>
<%@ Page Language="vb" AutoEventWireup="false" Codebehind="wfrmBlanco.aspx.vb" Inherits="Cotizador_Mazda_Retail.wfrmBlanco" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
	
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<script language="javascript" src="..\JavaScript\Jscripts.js"></script>
		<!--<LINK href="Styles.css" type="text/css" rel="stylesheet">-->
		<style type="text/css">
			.rojo_administrador { FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: middle; COLOR: #990000; FONT-FAMILY: Arial, Helvetica, sans-serif }
			.rojo_hijo { FONT-SIZE: 8pt; VERTICAL-ALIGN: middle; COLOR: #990000; FONT-FAMILY: Arial, Helvetica, sans-serif }
			A:link { COLOR: #990000; TEXT-DECORATION: none }
			A:visited { COLOR: #990000; TEXT-DECORATION: none }
			A:hover { COLOR: #990000; TEXT-DECORATION: none }
			A:active { COLOR: #990000; TEXT-DECORATION: none }
			.Header_tabla { FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #31659c; TEXT-ALIGN: left }
		</style>
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<cc1:msgbox id="MsgBox" style="Z-INDEX: 101; LEFT: 280px; POSITION: absolute; TOP: 376px" runat="server"></cc1:msgbox>
			<asp:Panel id="pnl_Menu" style="Z-INDEX: 103; LEFT: 8px; POSITION: absolute; TOP: 8px" runat="server"
				Height="24px" Width="100%">
				<P>
					<asp:Table id="tbl_menu" runat="server" Width="100%"></asp:Table></P>
			</asp:Panel>
			<P>&nbsp;</P>
		</form>
	</body>
</HTML>
